
@{
    ViewData["Title"] = "Homework2";
}

<h1>Homework2</h1>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h1>Register</h1>
        <form method="post" action="~/api/register" id="userForm">
            <div class="mb-3">
                <label for="InputName" class="form-label">姓名</label>
                <input type="text" class="form-control" id="InputName" name="name">
            </div>
            <div id="divname" class="alert alert-info"></div>
            <div class="mb-3">
                <label for="InputEmail" class="form-label">電子郵件</label>
                <input type="email" class="form-control" id="InputEmail" name="email">
            </div>
            <div class="mb-3">
                <label for="InputAge" class="form-label">年紀</label>
                <input type="number" class="form-control" id="InputAge" name="age">
            </div>

            <button type="submit" class="btn btn-primary" id="buttonSubmit">送出</button>
        </form>
        <div id="div1" class="alert alert-info mt-3"></div>
    </div>
    <div class="col-3"></div>
</div>

@section Scripts {
    <script>
        const divnameResult = document.querySelector('#divname');
        const divResult = document.querySelector('#div1');
        const btnSubmit = document.querySelector('#buttonSubmit');
        const inpName = document.querySelector('#InputName');
        const inpEmail = document.querySelector('#InputEmail');
        const inpAge = document.querySelector('#InputAge');

        inpName.addEventListener('blur', async () => {
            const name = inpName.value;
            const url = '@Url.Content("~/api/CheckAccount/")';
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(name)
            });
            const data = await response.json();
            divnameResult.textContent = data;
        });

    </script>
}

@section Styles {
    <style>

    </style>
}